div.callback{
    position: fixed;
    right: 20px;
    top: 60px;
    z-index: 999;
    display: none;
}

div.callback p{
    border-radius: 5px;
    color: #f5f5f5;
    width: auto;
    padding: 15px 10px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

div.callback p.success{
    background-color: rgb(0,200,200);
    display: none;
}

div.callback p.error{
    background-color: #ff0000;
    display: none;
}