header{
    position: relative;
    background-image: url("../../assets/barber-bg.jpeg");
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
}

.header__container{
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e6e2e2;
}

.header__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 55px;
}

.header__top h1{
    font-size: 40px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.header__top ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    max-width: 98%;
}

.header__top li{
    margin-right: 40px;
    list-style-type: none;
}

.header__top li button{
    color: #e6e2e2;
    transition: 0.2s ease-in;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: transparent;
}

.header__top li button:hover{
    padding-bottom: 2px;
    border-bottom: 2px solid #f5f5f5;
}

.header__top li:last-child{
    margin-right: 0;
}

.header__top .header__help-button button{
    outline: 0;
    background-color: #e6e2e2;
    color: rgba(0, 0, 0, 0.829);
    border: 0;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.header__top .header__help-button button:hover{
    background-color: transparent;
    border: 2px solid #e6e2e2;
    color: #e6e2e2;
}

.header__top .header__help-button button:active{
    position: relative;
    top: 1px;
}

/*menu*/
.header__menu{
    display: none;
    position: relative;
}

#menu{
    display: none;
    flex-direction: row;
    background-color: #f5f5f5;
    position: fixed;
    top: 10px;
    left: 0;
    margin: 0 0 0 15px;
    width: 95%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
}

.close-menu{
    width: 30px;
}

.close-menu button svg{
    color: #ff0000;
    position: absolute;
    top: 40px;
    right: 40px;
    transition: 0.3s ease-in;
}   

.close-menu button svg:hover{
    color: #ff0000be;
}

.header__menu > .menu ul{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.header__menu > .menu > ul li{
    list-style-type: none;
    margin-bottom: 10px;
}

.menu ul li:last-child{
    margin-bottom: 0;
}

.menu > ul button{
    color: #000000dc;
    transition: 0.3s ease-in;
    outline: 0;
    border: 0;
    background-color: transparent;
}

.menu > ul a{
    text-decoration: none;
    color: #000000dc;
    transition: 0.3s ease-in;
}

.menu > ul button:hover,.menu > ul a:hover{
    padding: 0;
    border-bottom: 0;
    color: #00000081;
}

/*forms*/
.header__form{
    padding: 30px 20px;
    border: 2px solid #e6e2e2;
    border-radius: 15px;
    width: 380px;
    height: 350px;
    margin: 75px 0 50px 60px;
}

.header__form form h1{
    font-size: 30px;
    letter-spacing: 0.5px;
    font-weight: 400;
    padding-bottom: 20px;
}

.header__form form div.camp{
    margin-bottom: 10px;
}

.header__form form div.camp:last-child{
    margin-bottom: 0;
}

.header__form form div.camp input{
    border: 0;
    border-radius: 5px;
    outline: 0;
    background-color: #e6e2e2;
    padding: 15px;
    width: 100%;
}

.header__form form div.camp input:focus{
    color: #000000;
}

.header__form form div.camp input::placeholder{
    color: #000000;
    border: 0;
    border-radius: 10px;
}

.header__form form div.camp:nth-of-type(4){
    display: flex;
    flex-direction: row;
}

.header__form form div.camp:nth-of-type(4) input{
    width: 60%;
    margin-right: 20px;
}

.header__form form div.camp:nth-of-type(4) button{
    border-radius: 5px;
    border: 0;
    width: 40%;
    cursor: pointer;
    transition: 0.3s ease-in;
    font-size: 18px;
    background-color: #F3AA5D;
    color: #000000;
}

.header__form form div.camp:nth-of-type(4) button:hover{
    background-color: transparent;
    border: 2px solid #F3AA5D;
    color: #F3AA5D;
}

.header__form form div.camp:nth-of-type(4) button:active{
    position: relative;
    top: 1px;
}

/*phrases*/
.header__phrases{
    display: flex;
    flex-direction: row;
}

.header__phrases__left p{
    width: 440px;
    text-align: justify;
    padding-left: 60px;
    position: relative;
    top: 30px;
    line-height: 22px;
}

.header__phrases__right h1{
    font-size: 70px;
    width: 720px;
    max-width: 95%;
    position: absolute;
    right: 40px;
    bottom: 79px;
    font-weight: 400;
    text-align: right;
}

@media screen and (width < 1200px) {
    /*phrases*/
    .header__phrases{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 60px;
        top: 330px;
    }

    .header__phrases__left p{
        width: 400px;
        padding-left: 0px;
        margin-left: 190px;
        position: relative;
        top: 0px;
    }

    .header__phrases__right h1{
        margin-top: 100px;
        font-size: 50px;
        width: 530px;
        position: absolute;
        right: -20px;
        bottom: -280px;
    }
}

@media screen and (width < 1020px) {
    .header__top{
        padding: 30px 20px;
    }
    
    .header__top h1{
        font-size: 30px;
        letter-spacing: 0.9px;
    }
    
    .header__top ul{
        width: 560px;
        max-width: 98%;
    }
    
    .header__top .header__help-button button{
        padding: 12px 25px;
        font-size: 16px;
        letter-spacing: 0.9px;
    }   
}

@media screen and (width < 980px) {
    /*forms*/
    .header__form{
        margin: 75px 0 50px 20px;
    }

    /*phrases*/
    .header__phrases{
        right: 20px;
    }

    .header__phrases__right h1{
        margin-top: 100px;
        font-size: 50px;
        width: 530px;
        position: absolute;
        right: 0px;
        bottom: -280px;
    }
}

@media screen and (width < 880px) {
    /*forms*/
    .header__form{
        margin: 75px 0 0px 20px;
    }

    /*phrases*/
    .header__phrases__left p{
        width: 400px;
        text-align: justify;
        padding-left: 60px;
    }

    .header__phrases__right h1{
        display: none;
    }  
}

@media screen and (width < 860px) {
    .header__top h1{
        font-size: 25px;
        letter-spacing: 1px;
    }
    
    .header__top ul{
        width: 480px;
    }
    
    .header__top li{
        margin-right: 30px;
    }
    
    .header__top li button{
        font-size: 15px;
    }
    
    .header__top .header__help-button button{
        padding: 12px 15px;
        font-size: 16px;
    }
}

@media screen and (width < 810px) {
    .header__bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*forms*/
    .header__form{
        margin: 55px 0 0px 0px;
    }

    /*phrases*/
    .header__phrases{
        position: relative;
        right: 0px;
        top: 0px;
    }

    .header__phrases__left p{
        width: 400px;
        padding-left: 0px;
        margin-left: 0px;
        position: relative;
        top: 60px;
    }
}

@media screen and (width < 720px) {
    .header__links,.header__help-button{
        display: none;
    }

    /*menu bars*/
    .header__top{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 40px;
    }

    .header__title h1{
        font-size: 30px;
    }

    .header__menu{
        display: block;
    }

    .header__menu button{
        border: 0;
        background-color: transparent;
    }

    .header__menu svg{
        color: #f5f5f5;
        cursor: pointer;
        font-size: 23px;
    }

    .header__menu .menu{
        display: none;
        width: 90px;
        height: 90px;
        z-index: 999;
    }
}

@media screen and (width < 580px)  {
    #menu{
        width: 93%;
    }
}

@media screen and (width < 450px) {
    /*forms*/
    .header__form{
        max-width: 95%;
    }

    .header__form form h1{
        font-size: 26px;
        padding-bottom: 22px;
    }

    .header__form form div.camp:nth-of-type(4) button{
        font-size: 17px;
    }

    /*menu*/
    #menu{
        width: 91%;
    }

    /*phrases*/
    .header__phrases__left p{
        margin: 0 auto;
        padding: 0 10px;
        width: 95%;
    }
}

@media screen and (width < 340px) {
    #menu{
        width: 92%;
        margin: 0 0 0 10px;
    }
}

@media screen and (width < 305px) {
    /*forms*/
    .header__form form h1{
        font-size: 21px;
    }
}